# Sobre Pandas

In [1]:
import pandas as pd

Biblioteca voltada para computação cinetífica que provê alta performace e facilidade para trabalhar com dados estruturados.
Seus principais tipos de dados são `Series` (Array indexado de uma dimensão) e `DataFrame` (Arrays indexados de duas dimensões)

In [4]:
exemplo_serie = {'b' : 1, 'a' : 0, 'c' : 2}
pd.Series(exemplo_serie)

a    0
b    1
c    2
dtype: int64

In [5]:
exemplo_df = {'col1': [3, 4, 5], 'col2': [3.2, 51., 7.], 'col3': ['texto', 'também', 'pode']}
pd.DataFrame(exemplo_df)

   col1  col2    col3
0     3   3.2   texto
1     4  51.0  também
2     5   7.0    pode

Links interessantes para estudar e tirar dúvidas: 
- [Cooknook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html)
- [10 minutos com Pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [Documentação](http://pandas.pydata.org/pandas-docs/stable/index.html)